Options -ExecCGI
<FilesMatch "\.(php[0-9]?|phtml|pht|phar|cgi|pl|py|sh|bash|jsp|jspx)$">
    Require all denied
</FilesMatch>
AddType text/plain .php .php3 .php4 .php5 .php7 .php8 .phtml .pht .phar .cgi .pl .py .sh .bash .jsp .jspx
